.home-page {
    height: 100%;
}

.home-page header {
    display: flex;
}

.home-page header .app-title {
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    padding-left: 6rem;
    padding-top: 5rem;
    font-size: 1.2rem;
}

.home-page header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 6rem;
    padding-top: 5rem;
    padding-right: 8rem;
    margin-left: auto;
}

header ul li img {
    width: 2rem;
    height: auto;
    cursor: pointer;
}

@media (max-width: 750px) {
    .home-page header {
        flex-direction: column;
    }

    .home-page header .app-title {
        padding-left: 0;
        padding-bottom: 4rem;
        justify-content: center;
    }

    .home-page header ul {
        padding-right: 0;
        padding-top: 0;
        justify-content: center;
        margin-left: 0;
        padding-left: 0;
    }
}
