.home-page {
    height: 100%;
    position: relative;
    z-index: 1;
}

header {
    display: flex;
    position: relative;
    z-index: 5;
}

header .app-title {
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    padding-left: 6rem;
    padding-top: 5rem;
    font-size: 1.2rem;
}

header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 6rem;
    padding-top: 5rem;
    padding-right: 8rem;
    margin-left: auto;
}

header ul li svg {
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

@media (max-width: 750px) {
    header {
        flex-direction: column;
    }

    header .app-title {
        padding-left: 0;
        padding-bottom: 4rem;
        justify-content: center;
    }

    header ul {
        padding-right: 0;
        padding-top: 0;
        justify-content: center;
        margin-left: 0;
        padding-left: 0;
    }
}
