:root {
    --shop-background: #f8f5f2;
}

.shop-container h1,
.shop-container h2,
.shop-container h3,
.shop-container h4,
.shop-container h5 {
    margin: 0;
    padding: 0;
}

.shop-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--shop-background);
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 5rem;
}

.shop-wrapper {
    padding-top: 14rem;
    display: flex;
    color: black;
    align-items: flex-start;
    width: 80%;
}

.shop-nav {
    width: 25%;
}

.shop-nav ul {
    line-height: 2.5rem;
}

.shop-nav ul li {
    list-style-type: none;
    cursor: pointer;
}

.shop-nav ul li:hover {
    text-decoration: underline 1.5px solid black;
}

.shop-products {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.product {
    width: 40%;
    max-width: 300px;
}

.product-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.product-box:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.product-box img {
    width: 60%;
    height: auto;
}

.product-description {
    padding-top: 1rem;
}
