:root {
    --shop-background: white;
}

.shop-container h1,
.shop-container h2,
.shop-container h3,
.shop-container h4,
.shop-container h5 {
    margin: 0;
    padding: 0;
}

.shop-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--shop-background);
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 5rem;
}

.shop-wrapper {
    padding: 150px 4rem 0 4rem;
    display: flex;
    color: black;
    align-items: flex-start;
    width: 100%;
    max-width: 1450px;
}

.shop-nav {
    width: 25%;
}

.shop-nav ul {
    line-height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.shop-nav ul li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
}

.shop-nav ul li:after {
    content: "";
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0.4rem;
    left: 0;
    background-color: rgb(224, 224, 224);
    transform-origin: bottom right;
    transition: transform 0.35s ease-in-out;
}

.shop-nav ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.search-bar {
    border: 1px solid black;
    border-radius: none;
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 75%;
}

.search-bar:focus {
    outline: none;
}

.shop-products {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.product {
    width: 40%;
    max-width: 300px;
}

.product-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(226, 226, 226), rgb(247, 246, 246));
    overflow: hidden;
}

.product-box:hover {
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.product-box:hover img {
    width: 75%;
}

.product-box img {
    width: 60%;
    height: auto;
    transition: width 0.2s ease-in-out;
}

.product-description {
    padding-top: 1rem;
}

.product-description p {
    padding-top: 0.5rem;
}

@media (max-width: 775px) {
    .shop-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 690px) {
    .shop-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .shop-nav {
        width: 100%;
    }

    .shop-nav ul {
        line-height: 2rem;
    }

    .shop-nav ul li:after {
        width: 100%;
        bottom: 0.2rem;
    }

    .search-bar {
        width: 100%;
    }

    .shop-products {
        width: 100%;
        justify-content: flex-start;
        align-content: center;
    }

    .product {
        width: calc(50% - 1rem);
        max-width: none;
    }

    .product-description {
        font-size: 0.8rem;
    }
}

@media (max-width: 450px) {
    .product {
        width: 100%;
    }
}
