.title-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 100%;
    max-width: 1200px;
    padding-left: 4rem;
}

.title-div p {
    font-size: 1rem;
    font-weight: 300;
}

.title-div h1 {
    padding-bottom: 1rem;
}

.title-div h1 {
    font-size: 4rem;
}

.hero-slogan {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1.75rem;
}

.title-div button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 2rem;
    position: relative;
    display: inline-block;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.title-div button:hover {
    background-color: white;
    color: black;
}

@media (max-width: 775px) {
    .title-div {
        padding-left: 2rem;
    }

    .title-div p {
        font-size: 0.8rem;
    }

    .title-div h1 {
        font-size: 3rem;
    }

    .hero-slogan {
        font-size: 1.2rem;
    }
}

@media (max-width: 550px) {
    .title-div h1 {
        font-size: 2.5rem;
    }

    .hero-slogan {
        font-size: 1rem;
    }
    .title-div p {
        font-size: 0.7rem;
    }
    .title-div button {
        padding: 0.5rem 1.5rem;
    }
}
