.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: white;
    padding-top: 25vh;
}

.title-div h3,
.title-div h1 {
    font-weight: 200;
    margin: 0;
}

@media (max-width: 750px) {
    .title-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-left: 0;
    }
}

@media (max-width: 525px) {
    .title-div h1 {
        font-size: 1.2rem;
    }
    .title-div h3 {
        font-size: 1rem;
        text-align: center;
    }
    .title-div button {
        padding: 0.5rem 1.5rem;
    }
}
